127.0.0.1  localhost
::1        localhost ip6-localhost ip6-loopback
fe00::0    ip6-localnet
ff02::2    ip6-allrouters
127.0.1.1  {{ hostname }}.local

192.168.51.1	router01    router01.batch.org.uk
192.168.51.2	switch01    switch01.batch.org.uk
192.168.51.4	victory     victory.batch.org.uk       ldap01
192.168.51.5	nas01       nas.batch.org.uk           nas

192.168.51.10	trafalgar   trafalgar.batch.org.uk
192.168.51.11	kiddywinks  kiddywinks.batch.org.uk
192.168.51.12	agamemnon   agamemnon.batch.org.uk
192.168.51.15	dreadnought dreadnought.batch.org.uk

192.168.51.25	       vaio1.batch.org.uk
192.168.51.26	vaio1       vaio1.batch.org.uk
192.168.51.225	vaio1       vaio1.batch.org.uk

192.168.51.31	pi     pi.batch.org.uk                 ldap02
192.168.51.41	maintv maintv.batch.org.uk
192.168.51.59	auxtv  auxtv.batch.org.uk

192.168.51.51	tobias          tobias.batch.org.uk
192.168.51.52	samsungtv01     samsungtv01.batch.org.uk
